body {
  font-family: "Courier New", Courier, monospace;
  background-color: #edeef0;
  color: #3b3838;
  position: relative;
  padding-top: 150px;
}
div.container-fluid {
  padding: 0;
}

a.active {
  border-bottom: 1px solid #3b3838;
  padding-bottom: 0;
}

nav {
  background-color: #edeef0;
}

li {
  padding: 10px;
}

footer {
  margin-top: 80px;
  background-color: #3b3838;
  padding: 80px;
  text-align: center;
}
footer a {
  text-decoration: none;
  color: #edeef0;
  /* border: 1px solid #edeef0;
  border-radius: 50%; */
  padding: 0 20px;
}

footer a:hover {
  color: #edeef0;
}
